# EXTERNAL some comment that is ignored
My global common name {{global_common_name}}
My local common name {{local_common_name}}
# This is a comment for the specfic_name item
Dynamic output {{item.specfic_name}}